/* App.css */
body {
  background-color: #f8f9fa;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn {
  cursor: pointer;
}

.heading {
  text-align: center;
}